@model Bikram.Models.BikramViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p>@{
           for (int i = 0; i < UPPER; i++)
           {
  
           }
       }</p>
    
</div>

